/*************************************************************/
/*/------------------All the things-------------------------/*/
/*************************************************************/

body {
    background-image: url('images/Chalkboard.jpg');
    color: white;
}

ul {
    list-style: none;
}


/*************************************************************/
/*/------------------USER SIGN-IN SIGN-UP-------------------/*/
/*************************************************************/

.users {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
